<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Show Message</title>
</head>
<body>
	
	<!-- Info general Message -->
    <div class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>ISSUE</th>
                    <th>BODY</th>
					<th>DATE</th>
                </tr>
            </thead>
            <tbody>
            	<c:forEach items="${messages}" var="message">
      				<a href="messages/show/${message.Id}"></a>
                	<tr th:each="message:${messages}">
	                <th th:text="${message.issue}"></th>
	                <th th:text="${message.body}"></th>
	                <th th:text="${message.date}"></th>
	                
                    </tr>
            </tbody>
        </table>
    </div>
</body>
</html>